<!doctype html>
<head>
<title>Example</title>

<style>
body{
        background-image: url("{{ url_for('static', filename='jupiterAtmos.jpg') }}");
        background-attachment: fixed;
        background-position: center;
    }
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}
</style>
</head>
<main class="grid">
  <a href = "/my-link/">
  <img src={{ url_for('static', filename='thumbnails/Hemingway_9780099908609.jpeg') }}/>
</a>
<img src={{ url_for('static', filename='thumbnails/J._9781784161644.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/K._9781408855911.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/K._9781408855928.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/K._9781408855904.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/K._9781408855898.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/K._9781408855942.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/K._9781408855935.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/K._9781408855959.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Katsu_9780857503640.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9781444707830.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9780450411434.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9780708821015.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9780450392498.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9781529355390.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9780340769980.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9780450524684.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9780340738917.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9780340770702.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9780340977163.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9780450056741.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9780340992562.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/King_9780340574935.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/La_9781785762819.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/May_9780857053961.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/May_9781529411690.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/McCarthy_9781509852024.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Miller_9780141189970.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Morgan_9780575081246.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Nabokov_9780140054729.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/North_9780356502588.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/OFarrell_9781472223821.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Ohba_9781421539652.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/P._9780008446086.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Pitcher_9781780620312.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Pratchett_9781473200135.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Pratchett_9781473205321.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Pratchett_9781473200210.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Pratchett_9780552131063.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Pratchett_9781473200104.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Pratchett_9781473200166.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Pratchett_9781473200203.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Pratchett_9781473205338.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/R._9780007447848.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/R._9780007466061.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/R._9780007447862.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/R._9780007448036.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/R._9780261102309.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/R._9780007447855.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/R._9780007466078.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/R._9780007447831.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Ronald_9780007525492.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Roth_9780099478560.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Rothfuss_9780575081406.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Rowell_9781409120537.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Rowell_9781409120544.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Rowell_9781447263227.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Ryan_9780099460077.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Ryan_9780099460138.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Ryan_9780099492146.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Sapkowski_9780575082441.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Sennen_9780007587865.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Shemilt_9781405915298.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Veste_9780007525584.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Walker_9780753818923.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Weir_9780091956141.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Wilde_9781853260155.jpeg') }}/>
<img src={{ url_for('static', filename='thumbnails/Zusak_9781784162122.jpeg') }}/>

</main>
