
<main class="grid">
<a href = '/book/9780330491235'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Adams_9780330491235.jpeg') }}/>               </a>
<a href = '/book/9780330491204'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Adams_9780330491204.jpeg') }}/>               </a>
<a href = '/book/9780330491228'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Adams_9780330491228.jpeg') }}/>               </a>
<a href = '/book/9780330491198'>               <img src={{ url_for('static', filename='thumbnails/Adams_9780330491198.jpeg') }}/>               </a>
<a href = '/book/9780330491211'>               <img src={{ url_for('static', filename='thumbnails/Adams_9780330491211.jpeg') }}/>               </a>
<a href = '/book/9781782275404'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Alexander_9781782275404.jpeg') }}/>               </a>
<a href = '/book/9780008506452'>               <img src={{ url_for('static', filename='thumbnails/Allen_9780008506452.jpeg') }}/>               </a>
<a href = '/book/9780099740919'>               <img src={{ url_for('static', filename='thumbnails/Atwood_9780099740919.jpeg') }}/>               </a>
<a href = '/book/9780140620757'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Austen_9780140620757.jpeg') }}/>               </a>
<a href = '/book/9780374531263'>               <img src={{ url_for('static', filename='thumbnails/Beah_9780374531263.jpeg') }}/>               </a>
<a href = '/book/9780345544148'>               <img src={{ url_for('static', filename='thumbnails/Benchley_9780345544148.jpeg') }}/>               </a>
<a href = '/book/9781250171696'>               <img src={{ url_for('static', filename='thumbnails/Biden_9781250171696.jpeg') }}/>               </a>
<a href = '/book/9780525492139'>               <img src={{ url_for('static', filename='thumbnails/Bryson_9780525492139.jpeg') }}/>               </a>
<a href = '/book/9780140032192'>               <img src={{ url_for('static', filename='thumbnails/Burgess_9780140032192.jpeg') }}/>               </a>
<a href = '/book/9781788162302'>               <img src={{ url_for('static', filename='thumbnails/Bythell_9781788162302.jpeg') }}/>               </a>
<a href = '/book/9781781258637'>               <img src={{ url_for('static', filename='thumbnails/Bythell_9781781258637.jpeg') }}/>               </a>
<a href = '/book/9781847394071'>               <img src={{ url_for('static', filename='thumbnails/Chbosky_9781847394071.jpeg') }}/>               </a>
<a href = '/book/9780553826166'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Child_9780553826166.jpeg') }}/>               </a>
<a href = '/book/9780140274066'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Clancy_9780140274066.jpeg') }}/>               </a>
<a href = '/book/9781405915458'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Clancy_9781405915458.jpeg') }}/>               </a>
<a href = '/book/9780006479741'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Clancy_9780006479741.jpeg') }}/>               </a>
<a href = '/book/9780425269398'>               <img src={{ url_for('static', filename='thumbnails/Clancy_9780425269398.jpeg') }}/>               </a>
<a href = '/book/9780425170342'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Clancy_9780425170342.jpeg') }}/>               </a>
<a href = '/book/9780006471165'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Clancy_9780006471165.jpeg') }}/>               </a>
<a href = '/book/9780425269404'>               <img src={{ url_for('static', filename='thumbnails/Clancy_9780425269404.jpeg') }}/>               </a>
<a href = '/book/9780006479758'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Clancy_9780006479758.jpeg') }}/>               </a>
<a href = '/book/9780425240335'>               <img src={{ url_for('static', filename='thumbnails/Clancy_9780425240335.jpeg') }}/>               </a>
<a href = '/book/9780006177302'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Clancy_9780006177302.jpeg') }}/>               </a>
<a href = '/book/9780141389431'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Collins_9780141389431.jpeg') }}/>               </a>
<a href = '/book/9781802792546'>               <img src={{ url_for('static', filename='thumbnails/Conan_9781802792546.jpeg') }}/>               </a>
<a href = '/book/9781849831093'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Cussler_9781849831093.jpeg') }}/>               </a>
<a href = '/book/9781849831109'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Cussler_9781849831109.jpeg') }}/>               </a>
<a href = '/book/9780751505030'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Cussler_9780751505030.jpeg') }}/>               </a>
<a href = '/book/9781849831116'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Cussler_9781849831116.jpeg') }}/>               </a>
<a href = '/book/9780241950432'>               <img src={{ url_for('static', filename='thumbnails/D._9780241950432.jpeg') }}/>               </a>
<a href = '/book/9781853260049'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Dickens_9781853260049.jpeg') }}/>               </a>
<a href = '/book/9781782277538'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Diop_9781782277538.jpeg') }}/>               </a>
<a href = '/book/9781853267338'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Dumas_9781853267338.jpeg') }}/>               </a>
<a href = '/book/9780330536301'>               <img src={{ url_for('static', filename='thumbnails/Easton_9780330536301.jpeg') }}/>               </a>
<a href = '/book/9780007551279'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Finch_9780007551279.jpeg') }}/>               </a>
<a href = '/book/9780753827666'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Flynn_9780753827666.jpeg') }}/>               </a>
<a href = '/book/9780552177160'>               <img src={{ url_for('static', filename='thumbnails/Fox_9780552177160.jpeg') }}/>               </a>
<a href = '/book/9781797207070'>               <img src={{ url_for('static', filename='thumbnails/Fry_9781797207070.jpeg') }}/>               </a>
<a href = '/book/9781405940368'>               <img src={{ url_for('static', filename='thumbnails/Fry_9781405940368.jpeg') }}/>               </a>
<a href = '/book/9780063070721'>               <img src={{ url_for('static', filename='thumbnails/Gaiman_9780063070721.jpeg') }}/>               </a>
<a href = '/book/9780393356182'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Gaiman_9780393356182.jpeg') }}/>               </a>
<a href = '/book/9780571191475'>               <img src={{ url_for('static', filename='thumbnails/Golding_9780571191475.jpeg') }}/>               </a>
<a href = '/book/9781839014901'>               <img src={{ url_for('static', filename='thumbnails/Gordievsky_9781839014901.jpeg') }}/>               </a>
<a href = '/book/9780141345659'>               <img src={{ url_for('static', filename='thumbnails/Green_9780141345659.jpeg') }}/>               </a>
<a href = '/book/9780141346090'>               <img src={{ url_for('static', filename='thumbnails/Green_9780141346090.jpeg') }}/>               </a>
<a href = '/book/9780007523160'>               <img src={{ url_for('static', filename='thumbnails/Green_9780007523160.jpeg') }}/>               </a>
<a href = '/book/9780525556534'>               <img src={{ url_for('static', filename='thumbnails/Green_9780525556534.jpeg') }}/>               </a>
<a href = '/book/9780099532934'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Harris_9780099532934.jpeg') }}/>               </a>
<a href = '/book/9780749309428'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Harris_9780749309428.jpeg') }}/>               </a>
<a href = '/book/9780099532941'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Harris_9780099532941.jpeg') }}/>               </a>
<a href = '/book/9780552779777'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Hawkins_9780552779777.jpeg') }}/>               </a>
<a href = '/book/9780552160964'>               <img src={{ url_for('static', filename='thumbnails/Hayes_9780552160964.jpeg') }}/>               </a>
<a href = '/book/9780586044636'>               <img src={{ url_for('static', filename='thumbnails/Hemingway_9780586044636.jpeg') }}/>               </a>
<a href = '/book/9780099908609'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Hemingway_9780099908609.jpeg') }}/>               </a>
<a href = '/book/9781610396844'>               <img src={{ url_for('static', filename='thumbnails/Hemming_9781610396844.jpeg') }}/>               </a>
<a href = '/book/9780450038280'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Herbert_9780450038280.jpeg') }}/>               </a>
<a href = '/book/9780450021275'>               <img src={{ url_for('static', filename='thumbnails/Herbert_9780450021275.jpeg') }}/>               </a>
<a href = '/book/9780330376181'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Herbert_9780330376181.jpeg') }}/>               </a>
<a href = '/book/9780340960196'>               <img src={{ url_for('static', filename='thumbnails/Herbert_9780340960196.jpeg') }}/>               </a>
<a href = '/book/9780230706965'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Herbert_9780230706965.jpeg') }}/>               </a>
<a href = '/book/9780330376297'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Herbert_9780330376297.jpeg') }}/>               </a>
<a href = '/book/9780330411677'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Herbert_9780330411677.jpeg') }}/>               </a>
<a href = '/book/9780450045462'>               <img src={{ url_for('static', filename='thumbnails/Herbert_9780450045462.jpeg') }}/>               </a>
<a href = '/book/9780330376150'>               <img src={{ url_for('static', filename='thumbnails/Herbert_9780330376150.jpeg') }}/>               </a>
<a href = '/book/9781472207692'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Hilary_9781472207692.jpeg') }}/>               </a>
<a href = '/book/9780061944895'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Hill_9780061944895.jpeg') }}/>               </a>
<a href = '/book/9780062663122'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Hill_9780062663122.jpeg') }}/>               </a>
<a href = '/book/9780575099999'>               <img src={{ url_for('static', filename='thumbnails/Hill_9780575099999.jpeg') }}/>               </a>
<a href = '/book/9780575130739'>               <img src={{ url_for('static', filename='thumbnails/Hill_9780575130739.jpeg') }}/>               </a>
<a href = '/book/9780575130692'>               <img src={{ url_for('static', filename='thumbnails/Hill_9780575130692.jpeg') }}/>               </a>
<a href = '/book/9781444775433'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Hodgson_9781444775433.jpeg') }}/>               </a>
<a href = '/book/9780552169158'>               <img src={{ url_for('static', filename='thumbnails/Holland_9780552169158.jpeg') }}/>               </a>
<a href = '/book/9780802125606'>               <img src={{ url_for('static', filename='thumbnails/Holland_9780802125606.jpeg') }}/>               </a>
<a href = '/book/9781408842454'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Hosseini_9781408842454.jpeg') }}/>               </a>
<a href = '/book/9781408824856'>               <img src={{ url_for('static', filename='thumbnails/Hosseini_9781408824856.jpeg') }}/>               </a>
<a href = '/book/9780061253805'>               <img src={{ url_for('static', filename='thumbnails/I._9780061253805.jpeg') }}/>               </a>
<a href = '/book/9781604594560'>               <img src={{ url_for('static', filename='thumbnails/Ibsen_9781604594560.jpeg') }}/>               </a>
<a href = '/book/9781408106020'>               <img src={{ url_for('static', filename='thumbnails/Ibsen_9781408106020.jpeg') }}/>               </a>
<a href = '/book/9781784161644'>               <img id='unread' src={{ url_for('static', filename='thumbnails/J._9781784161644.jpeg') }}/>               </a>
<a href = '/book/9780330546010'>               <img src={{ url_for('static', filename='thumbnails/James_9780330546010.jpeg') }}/>               </a>
<a href = '/book/9781509860180'>               <img src={{ url_for('static', filename='thumbnails/James_9781509860180.jpeg') }}/>               </a>
<a href = '/book/9781840226355'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Joyce_9781840226355.jpeg') }}/>               </a>
<a href = '/book/9781408855911'>               <img src={{ url_for('static', filename='thumbnails/K._9781408855911.jpeg') }}/>               </a>
<a href = '/book/9781408855928'>               <img src={{ url_for('static', filename='thumbnails/K._9781408855928.jpeg') }}/>               </a>
<a href = '/book/9781408855904'>               <img src={{ url_for('static', filename='thumbnails/K._9781408855904.jpeg') }}/>               </a>
<a href = '/book/9781408855898'>               <img src={{ url_for('static', filename='thumbnails/K._9781408855898.jpeg') }}/>               </a>
<a href = '/book/9780141186672'>               <img id='unread' src={{ url_for('static', filename='thumbnails/K._9780141186672.jpeg') }}/>               </a>
<a href = '/book/9781408855942'>               <img src={{ url_for('static', filename='thumbnails/K._9781408855942.jpeg') }}/>               </a>
<a href = '/book/9781408855935'>               <img src={{ url_for('static', filename='thumbnails/K._9781408855935.jpeg') }}/>               </a>
<a href = '/book/9781408855959'>               <img src={{ url_for('static', filename='thumbnails/K._9781408855959.jpeg') }}/>               </a>
<a href = '/book/9781421555485'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Katoka_9781421555485.jpeg') }}/>               </a>
<a href = '/book/9780857503640'>               <img src={{ url_for('static', filename='thumbnails/Katsu_9780857503640.jpeg') }}/>               </a>
<a href = '/book/9780063228481'>               <img src={{ url_for('static', filename='thumbnails/Kay_9780063228481.jpeg') }}/>               </a>
<a href = '/book/9781444707830'>               <img id='unread' src={{ url_for('static', filename='thumbnails/King_9781444707830.jpeg') }}/>               </a>
<a href = '/book/9780450537370'>               <img src={{ url_for('static', filename='thumbnails/King_9780450537370.jpeg') }}/>               </a>
<a href = '/book/9780450411434'>               <img src={{ url_for('static', filename='thumbnails/King_9780450411434.jpeg') }}/>               </a>
<a href = '/book/9781501143106'>               <img src={{ url_for('static', filename='thumbnails/King_9781501143106.jpeg') }}/>               </a>
<a href = '/book/9780708821015'>               <img src={{ url_for('static', filename='thumbnails/King_9780708821015.jpeg') }}/>               </a>
<a href = '/book/9780450392498'>               <img id='unread' src={{ url_for('static', filename='thumbnails/King_9780450392498.jpeg') }}/>               </a>
<a href = '/book/9780345806789'>               <img src={{ url_for('static', filename='thumbnails/King_9780345806789.jpeg') }}/>               </a>
<a href = '/book/9781529355390'>               <img id='unread' src={{ url_for('static', filename='thumbnails/King_9781529355390.jpeg') }}/>               </a>
<a href = '/book/9780340769980'>               <img src={{ url_for('static', filename='thumbnails/King_9780340769980.jpeg') }}/>               </a>
<a href = '/book/9780450524684'>               <img src={{ url_for('static', filename='thumbnails/King_9780450524684.jpeg') }}/>               </a>
<a href = '/book/9781982131807'>               <img id='unread' src={{ url_for('static', filename='thumbnails/King_9781982131807.jpeg') }}/>               </a>
<a href = '/book/9780340738917'>               <img src={{ url_for('static', filename='thumbnails/King_9780340738917.jpeg') }}/>               </a>
<a href = '/book/9781982159375'>               <img id='unread' src={{ url_for('static', filename='thumbnails/King_9781982159375.jpeg') }}/>               </a>
<a href = '/book/9780340770702'>               <img id='unread' src={{ url_for('static', filename='thumbnails/King_9780340770702.jpeg') }}/>               </a>
<a href = '/book/9780340977163'>               <img src={{ url_for('static', filename='thumbnails/King_9780340977163.jpeg') }}/>               </a>
<a href = '/book/9780450056741'>               <img id='unread' src={{ url_for('static', filename='thumbnails/King_9780450056741.jpeg') }}/>               </a>
<a href = '/book/9780340992562'>               <img src={{ url_for('static', filename='thumbnails/King_9780340992562.jpeg') }}/>               </a>
<a href = '/book/9781982127794'>               <img src={{ url_for('static', filename='thumbnails/King_9781982127794.jpeg') }}/>               </a>
<a href = '/book/9780340574935'>               <img src={{ url_for('static', filename='thumbnails/King_9780340574935.jpeg') }}/>               </a>
<a href = '/book/9781501147418'>               <img src={{ url_for('static', filename='thumbnails/King_9781501147418.jpeg') }}/>               </a>
<a href = '/book/9781785762819'>               <img id='unread' src={{ url_for('static', filename='thumbnails/La_9781785762819.jpeg') }}/>               </a>
<a href = '/book/9782251447698'>               <img src={{ url_for('static', filename='thumbnails/Lansing_9782251447698.jpeg') }}/>               </a>
<a href = '/book/9780141198286'>               <img src={{ url_for('static', filename='thumbnails/Le_9780141198286.jpeg') }}/>               </a>
<a href = '/book/9780143119784'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Le_9780143119784.jpeg') }}/>               </a>
<a href = '/book/9780141439730'>               <img src={{ url_for('static', filename='thumbnails/Louis_9780141439730.jpeg') }}/>               </a>
<a href = '/book/9780099540540'>               <img id='unread' src={{ url_for('static', filename='thumbnails/M._9780099540540.jpeg') }}/>               </a>
<a href = '/book/9780099289524'>               <img src={{ url_for('static', filename='thumbnails/M._9780099289524.jpeg') }}/>               </a>
<a href = '/book/9780307353412'>               <img src={{ url_for('static', filename='thumbnails/Macintyre_9780307353412.jpeg') }}/>               </a>
<a href = '/book/9780307453280'>               <img src={{ url_for('static', filename='thumbnails/Macintyre_9780307453280.jpeg') }}/>               </a>
<a href = '/book/9780593136324'>               <img src={{ url_for('static', filename='thumbnails/Macintyre_9780593136324.jpeg') }}/>               </a>
<a href = '/book/9781101904213'>               <img src={{ url_for('static', filename='thumbnails/Macintyre_9781101904213.jpeg') }}/>               </a>
<a href = '/book/9780857053961'>               <img id='unread' src={{ url_for('static', filename='thumbnails/May_9780857053961.jpeg') }}/>               </a>
<a href = '/book/9781529411690'>               <img id='unread' src={{ url_for('static', filename='thumbnails/May_9781529411690.jpeg') }}/>               </a>
<a href = '/book/9781509852024'>               <img id='unread' src={{ url_for('static', filename='thumbnails/McCarthy_9781509852024.jpeg') }}/>               </a>
<a href = '/book/9780440218807'>               <img src={{ url_for('static', filename='thumbnails/McNab_9780440218807.jpeg') }}/>               </a>
<a href = '/book/9780008245733'>               <img src={{ url_for('static', filename='thumbnails/Middleton_9780008245733.jpeg') }}/>               </a>
<a href = '/book/9780141189970'>               <img src={{ url_for('static', filename='thumbnails/Miller_9780141189970.jpeg') }}/>               </a>
<a href = '/book/9780575081246'>               <img src={{ url_for('static', filename='thumbnails/Morgan_9780575081246.jpeg') }}/>               </a>
<a href = '/book/9780140054729'>               <img src={{ url_for('static', filename='thumbnails/Nabokov_9780140054729.jpeg') }}/>               </a>
<a href = '/book/9780356502588'>               <img id='unread' src={{ url_for('static', filename='thumbnails/North_9780356502588.jpeg') }}/>               </a>
<a href = '/book/9781472223821'>               <img id='unread' src={{ url_for('static', filename='thumbnails/OFarrell_9781472223821.jpeg') }}/>               </a>
<a href = '/book/9781421539652'>               <img src={{ url_for('static', filename='thumbnails/Ohba_9781421539652.jpeg') }}/>               </a>
<a href = '/book/9791280035356'>               <img src={{ url_for('static', filename='thumbnails/Orwell_9791280035356.jpeg') }}/>               </a>
<a href = '/book/9781974549092'>               <img src={{ url_for('static', filename='thumbnails/P._9781974549092.jpeg') }}/>               </a>
<a href = '/book/9780008446086'>               <img id='unread' src={{ url_for('static', filename='thumbnails/P._9780008446086.jpeg') }}/>               </a>
<a href = '/book/9780062094360'>               <img src={{ url_for('static', filename='thumbnails/Peter_9780062094360.jpeg') }}/>               </a>
<a href = '/book/9781780620312'>               <img src={{ url_for('static', filename='thumbnails/Pitcher_9781780620312.jpeg') }}/>               </a>
<a href = '/book/9781473200135'>               <img id='unread'src={{ url_for('static', filename='thumbnails/Pratchett_9781473200135.jpeg') }}/>               </a>
<a href = '/book/9781473205321'>               <img src={{ url_for('static', filename='thumbnails/Pratchett_9781473205321.jpeg') }}/>               </a>
<a href = '/book/9781473200210'>               <img id='unread'src={{ url_for('static', filename='thumbnails/Pratchett_9781473200210.jpeg') }}/>               </a>
<a href = '/book/9780552131063'>               <img src={{ url_for('static', filename='thumbnails/Pratchett_9780552131063.jpeg') }}/>               </a>
<a href = '/book/9781473200104'>               <img src={{ url_for('static', filename='thumbnails/Pratchett_9781473200104.jpeg') }}/>               </a>
<a href = '/book/9781473200166'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Pratchett_9781473200166.jpeg') }}/>               </a>
<a href = '/book/9781473200203'>               <img src={{ url_for('static', filename='thumbnails/Pratchett_9781473200203.jpeg') }}/>               </a>
<a href = '/book/9781473205338'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Pratchett_9781473205338.jpeg') }}/>               </a>
<a href = '/book/9780007447848'>               <img src={{ url_for('static', filename='thumbnails/R._9780007447848.jpeg') }}/>               </a>
<a href = '/book/9780007466061'>               <img src={{ url_for('static', filename='thumbnails/R._9780007466061.jpeg') }}/>               </a>
<a href = '/book/9780007447862'>               <img src={{ url_for('static', filename='thumbnails/R._9780007447862.jpeg') }}/>               </a>
<a href = '/book/9780007448036'>               <img src={{ url_for('static', filename='thumbnails/R._9780007448036.jpeg') }}/>               </a>
<a href = '/book/9780261102309'>               <img src={{ url_for('static', filename='thumbnails/R._9780261102309.jpeg') }}/>               </a>
<a href = '/book/9780007447855'>               <img src={{ url_for('static', filename='thumbnails/R._9780007447855.jpeg') }}/>               </a>
<a href = '/book/9780007466078'>               <img src={{ url_for('static', filename='thumbnails/R._9780007466078.jpeg') }}/>               </a>
<a href = '/book/9780007447831'>               <img src={{ url_for('static', filename='thumbnails/R._9780007447831.jpeg') }}/>               </a>
<a href = '/book/9780007525492'>               <img src={{ url_for('static', filename='thumbnails/Ronald_9780007525492.jpeg') }}/>               </a>
<a href = '/book/9780099478560'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Roth_9780099478560.jpeg') }}/>               </a>
<a href = '/book/9780575081406'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Rothfuss_9780575081406.jpeg') }}/>               </a>
<a href = '/book/9781409120537'>               <img src={{ url_for('static', filename='thumbnails/Rowell_9781409120537.jpeg') }}/>               </a>
<a href = '/book/9781409120544'>               <img src={{ url_for('static', filename='thumbnails/Rowell_9781409120544.jpeg') }}/>               </a>
<a href = '/book/9781447263227'>               <img src={{ url_for('static', filename='thumbnails/Rowell_9781447263227.jpeg') }}/>               </a>
<a href = '/book/9780099460077'>               <img src={{ url_for('static', filename='thumbnails/Ryan_9780099460077.jpeg') }}/>               </a>
<a href = '/book/9780099460138'>               <img src={{ url_for('static', filename='thumbnails/Ryan_9780099460138.jpeg') }}/>               </a>
<a href = '/book/9780099492146'>               <img src={{ url_for('static', filename='thumbnails/Ryan_9780099492146.jpeg') }}/>               </a>
<a href = '/book/9780356504247'>               <img src={{ url_for('static', filename='thumbnails/S._9780356504247.jpeg') }}/>               </a>
<a href = '/book/9780356504186'>               <img src={{ url_for('static', filename='thumbnails/S._9780356504186.jpeg') }}/>               </a>
<a href = '/book/9780316134675'>               <img src={{ url_for('static', filename='thumbnails/S._9780316134675.jpeg') }}/>               </a>
<a href = '/book/9780748122974'>               <img src={{ url_for('static', filename='thumbnails/S._9780748122974.jpeg') }}/>               </a>
<a href = '/book/9780007341900'>               <img id='unread' src={{ url_for('static', filename='thumbnails/S._9780007341900.jpeg') }}/>               </a>
<a href = '/book/9780316334747'>               <img id='reading' src={{ url_for('static', filename='thumbnails/S.A._9780316334747.jpeg') }}/>               </a>
<a href = '/book/9780575082441'>               <img src={{ url_for('static', filename='thumbnails/Sapkowski_9780575082441.jpeg') }}/>               </a>
<a href = '/book/9781853260414'>               <img src={{ url_for('static', filename='thumbnails/Scott_9781853260414.jpeg') }}/>               </a>
<a href = '/book/9780007587865'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Sennen_9780007587865.jpeg') }}/>               </a>
<a href = '/book/9781405915298'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Shemilt_9781405915298.jpeg') }}/>               </a>
<a href = '/book/9780316492935'>               <img src={{ url_for('static', filename='thumbnails/Smith,_9780316492935.jpeg') }}/>               </a>
<a href = '/book/9798721052927'>               <img src={{ url_for('static', filename='thumbnails/Stoker_9798721052927.jpeg') }}/>               </a>
<a href = '/book/9780007525584'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Veste_9780007525584.jpeg') }}/>               </a>
<a href = '/book/9780812988529'>               <img src={{ url_for('static', filename='thumbnails/Vonnegut_9780812988529.jpeg') }}/>               </a>
<a href = '/book/9780753818923'>               <img src={{ url_for('static', filename='thumbnails/Walker_9780753818923.jpeg') }}/>               </a>
<a href = '/book/9780593135228'>               <img src={{ url_for('static', filename='thumbnails/Weir_9780593135228.jpeg') }}/>               </a>
<a href = '/book/9780091956141'>               <img src={{ url_for('static', filename='thumbnails/Weir_9780091956141.jpeg') }}/>               </a>
<a href = '/book/9781853260155'>               <img src={{ url_for('static', filename='thumbnails/Wilde_9781853260155.jpeg') }}/>               </a>
<a href = '/book/9781784162122'>               <img id='unread' src={{ url_for('static', filename='thumbnails/Zusak_9781784162122.jpeg') }}/>               </a>
<a href = '/book/9780141194523'>               <img src={{ url_for('static', filename='thumbnails/le_9780141194523.jpeg') }}/>               </a>
</main>
